.next{
   margin-left: 50%;
   padding-bottom: 60px;
   font-size: 26px;
   font-style: bold;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
  }
  
  li{
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  div.all{
    
      width: 100%;
      height: max-content;
     
      position: relative;
      
  }
  img{
    max-width: 100%;
    max-height: 100%;
    
}
div.row{
    width: 100%;
    height: min-content;
}
  div.col-1{
    margin-top: 35px;
    width: 50%;
    height: 250px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
div.col-2{
  margin-top: 35px;
    width: 50%;
    height: 250px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
div.foot{
    width: 100%;
    height: max-content;
    background-color: #111;
    text-align: center;
    position: relative;
}
coler{
  color:white;
  margin-left: 20px;
  margin-right: 20px;
}
co-wit{
color: white;
}
mr{
margin-top: 10px;
}

div.ondiv{
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
  transform: translate(-50%,-50);
}
div.ondiv2{
  position: absolute;
  top: 0px;
  right: 0px;
  font-weight: bold;
  transform: translate(-50%,-50);
}
h1{
  text-align: center;
}
div.card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: 0.3s;
width: 40%;
border-radius: 25px;
}
div.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
img.img1{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

.btn {
  padding: 1em 3em;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #f56363;
  line-height: 1.5;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.form-control {
  background-color: #fff;
  border: 1px solid #f56363;
  color: #4c4c4c;
  box-shadow: none;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  padding: 0 1.5em;}

  a.mya{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#4c4c4c;
    margin-bottom: 3px;
  }
